<section class="new-product-form">
    <form novalidate #form="ngForm">
        <div class="form-group">
            <input type="text" class="form-control" name="name" [(ngModel)]="name">
            <label for="product-name">Product Name</label>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="description" [(ngModel)]="description">
            <label for="product-image">Upload Image</label>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="image" [(ngModel)]="imageUrl">
            <label for="product-image">Upload Image</label>
        </div>

        <div class="form-group">
            <input type="text" class="form-control" name="price" [(ngModel)]="price">
            <label for="product-price">Product Price</label>
        </div>

        <div class="form-group">
            <select class="form-control">
                <option value="">Select a categories</option>
                <option *ngFor="let cat of options" [value]="cat">{{cat}}</option>
            </select>
            <label for="">Categories</label>
        </div>

        <div class="form-group" class="">
            <button type="submit" class="btn btn-primary">Add</button>
        </div>

    </form>
</section>