<section class="latest" id="offers">
    <div class="container-fluid">
        <h4 class="display-4">LATEST ARRIVALS</h4>
        <div class="row">
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <img src="assets/images/shoe.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="latest-dsc">
                            <h6>LATEST TITLE</h6>
                            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit amet ex voluptate quasi facere. Iusto iure ipsam, non placeat, inventore cumque cupiditate est ab facere, ipsum laboriosam laudantium molestiae at?</P>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <img src="assets/images/shoe.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="latest-dsc">
                            <h6>LATEST TITLE</h6>
                            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit amet ex voluptate quasi facere. Iusto iure ipsam, non placeat, inventore cumque cupiditate est ab facere, ipsum laboriosam laudantium molestiae at?</P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>