.categories {
    padding-left: 15%;
    padding-right: 15%;
    .view-categories {
        font-size: 18px;
        font-weight: bold;
        color: #0077b5;
        margin-top: 10px;
    }
    img {
        width: 100%;
    }
    .category {
        padding: 10%;
        height: 100%;
    }
}