<section class="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <app-category></app-category>
            </div>
            <div class="col-md-3">
                <app-category></app-category>
            </div>
            <div class="col-md-3">
                <app-category></app-category>
            </div>
            <div class="col-md-3">
                <app-category></app-category>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <app-category></app-category>
            </div>
            <div class="col-md-3">
                <app-category></app-category>
            </div>
            <div class="col-md-3">
                <app-category></app-category>
            </div>
            <div class="col-md-3">
                <app-category></app-category>
            </div>
        </div>
        <div class="view-categories text-right">
            <p>View all categories</p>
        </div>
    </div>
</section>