<section class="categories" id="categories">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="card category">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="display-4">Men's shoes</h4>
                            <h4>25% off</h4>
                        </div>
                        <div class="col-md-4">
                            <img src="assets/images/shoe.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                <div class="card category">
                    <div class="row">
                        <div class="col-md-8">
                            <h4 class="display-4">Women's shoes</h4>
                            <h4>25% off</h4>
                        </div>
                        <div class="col-md-4">
                            <img src="assets/images/shoe.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
                <div class="card category">
                    <h4 class="display-4">50% off</h4>
                    <h1>Offers</h1>
                </div>
            </div>
        </div>
        <div class="view-categories text-right mt-3">
            <p>View all categories</p>
        </div>
    </div>
</section>