<section class="card">
    <div class="container-fluid">
        <div class="pd-name">
            <p>{{name}}</p>
        </div>
        <div class="pd-image">
            <img class="product-image" src="{{product.imageUrl}}" alt="">
        </div>
        <div class="pd-description">
            <p class="product-description">{{description}}</p>
        </div>
        <div class="pd-categories">
            <span class="product-categories" *ngFor="let category of product.categories; let i=index">
                        <a href="#">{{category}}</a>
                        <span>{{i < categories.length - 1 ? '>' : ''}} </span>
            </span>
        </div>
        <div class="pd-price">
            <p class="product-price">{{price}}</p>
        </div>
    </div>
</section>