section {
    background: whitesmoke;
    padding-top: 100px;
    padding-bottom: 50px;
}

.delivery,
.money-back,
.payments {
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 50px;
    padding-right: 50px;
}

h4 {
    text-align: center;
}