<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="card delivery">
                    <h4>FAST AND FREE DELIVERY</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card money-back">
                    <H4>100% MONEY BACK GUARANTEE</H4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card payments">
                    <H4>SAFE AND SECURE PAYMENTS</H4>
                </div>
            </div>
        </div>
    </div>
</section>