<div class="nav-menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-dark navbar-expand-lg">
                    <a class="navbar-brand" href="index.html">
                        <img src="assets/images/shoe.jpg" class="nav-img" alt="logo">
                        <h5>NuNuA</h5>
                    </a>
                    <input type="search" id="search" class="form-control" placeholder="Search here">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
                         <span class="navbar-toggler-icon"></span> 
                    </button>
                    <div class="collapse navbar-collapse" id="navbar">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"> <img src="assets/images/shoe.jpg" class="nav-link" alt=""></li>
                            <li class="nav-item"> <img src="assets/images/shoe.jpg" class="nav-link" alt=""></li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>